body {
    padding: 6px;
    overflow: hidden;
}

#lyrics-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#lyrics {
    white-space: pre-line;
    height: fit-content;
    font-family: sans-serif;
    font-size: 36pt;
    color: black;
    padding: 16px;
    text-align: center;
}